<tr <%= person_geo_data_tag(address) %> data-id="<%=person['id']%>">
  <td><%= person["id"] %></td>
  <td><%= full_name(person) %></td>
  <td><%= address["full_address"] || address["error"].html_safe %></td>
  <td>
    <button type="button" class="btn btn-info edit" data-action="edit">Edit</button>
    <button type="button" class="btn btn-danger delete" data-action="delete">Delete</button>
  </td>
  <td class="hidden distance_td"><span>0</span> km</td>
</tr>
