<div class="container bs-example">
  <div class="row range_form_wrapper">
    <div class="col-xs-12">
      <select data-placeholder="Search for an address..." class="chosen-select" tabindex="1">
        <option value=""></option>
      </select>
    </div>
    <div class="col-xs-6">
      <input class="slider" type="range" min="1" max="1000" value="50">
    </div>
    <div class="col-xs-2">
      <div class="range_info_wrapper"> <span class="range_info">50</span> km radius</div>
    </div>
    <div class="col-xs-4">

      <button type="button" class="btn btn-warning pull-right reset_form" data-action="reset">Reset</button>
      <button type="button" class="btn btn-success pull-right order_by_radius" data-action="order_by_radius">Order by radius</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table people_list">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th></th>
          <th class="hidden distance_td">Distance</th>
        </thead>
        <tbody>
          <% @people.each do |person|%>
            <%= render partial: "person_td", locals: {person: person["person"], address: primary_address(person["person"])}%>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script type="text/javascript">


  $(document).ready(function(){
    $(".slider").val(50);
    $(".chosen-select").chosen({no_results_text: "One second please", width:"100%" }); 
    $(".edit, .delete").on("click", function(){
      alert("That was not part of the task.\nOtherwise you would be able to "+ $(this).data("action") +" this entry");
    })
    $(".slider").on("input",function(){
      $(".range_info").html($(this).val());
    })
    var typingTimer
    $(".chosen-search-input").on('keyup', function (e) {
      if((e.keyCode >= 49 && e.keyCode <= 90) || e.keyCode == 32){
        clearTimeout(typingTimer);
        that = $(this);
        if(that.val().length >= 3){
          typingTimer = setTimeout(function(){
            q = $(that).val();
            $.ajax({
              url: "/geo/check_address",
              data: {"q": q },
              success: function(data){
               $('.chosen-select').html("");
                $.each(data, function(i,e){
                  address = prepare_address(e);
                  $(".chosen-select").append("'<option value='["+ e['data']['lat'] + "," + e['data']['lon'] + "]'>" + address + "</li>");
                  $(".chosen-select").trigger("chosen:updated");
                  $(".chosen-search-input").val(q);
                })
              }
            })
          }, 500);
        }
      }
    });
    $(".reset_form").on("click", function(){
      console.log("laaaazy")
      window.location.reload()
    })
    $(".order_by_radius").on("click", function(){
      if($(".chosen-select").chosen().val() == ""){
        alert("please select a location first")
      }else{
        $.ajax({
          url: "/geo/check_radius",
          method: "post",
          data: prepare_coordinate_data(),
          success: function(data){
            $(".people_list tbody tr").addClass("hidden");
            $.each(data, function(i,distance){
              element = $(".people_list tbody tr[data-id='"+ i +"']");
              element.find(".distance_td span").html(distance );
              element.removeClass("hidden");
            })
            sortTable($("table"))
            $(".distance_td").removeClass("hidden");
          }
        })
      }
    })
  })
</script>
