/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "chosen";


.address_error{
  font-size:12px;

}
.fa{
  &.red{
    color:red;
  }
}

.range_form_wrapper{
  .chosen-container, .order_by_radius, .reset_form{
    margin-top: 5px;
  }
  .reset_form{
    margin-right:5px;
  }
  .slider, .range_info_wrapper{
    margin-top: 12px;
  }
}

.distance_td{
  text-align: right;
}
